#----------------------------------------------------------------
# Travis CI for R Packages
# https://docs.travis-ci.com/user/languages/r
#----------------------------------------------------------------
language: r
sudo: false
cache: packages
warnings_are_errors: false
r_check_args: --as-cran

matrix:
  include:
    - os: linux
      r: oldrel
    - os: linux
      r: release
    - os: linux
      r: release
      env:
        - R_FUTURE_FORK_ENABLE=false
    - os: linux
      r: devel
    - os: osx
      r: oldrel
    - os: osx
      r: release
    - os: linux
      r: release
      r_check_args: --no-build-vignettes --no-codoc --no-examples --no-tests --no-manual --ignore-vignettes
      r_packages:
        - covr
      after_success:
        - Rscript -e "covr::codecov(type='all',quiet=FALSE)"
      env: NB='w/ covr' # just a label

notifications:
  email:
    on_success: change
    on_failure: change
